<template>
  <div>
    <h1>Users</h1>
    <ul>
      <li v-for="user in users" :key="user.id">{{ user.first_name }} {{ user.last_name }}</li>
    </ul>

    <h2>Add User</h2>
    <form @submit.prevent="addUser">
      <input type="text" v-model="newUser.first_name" placeholder="First Name" required>
      <input type="text" v-model="newUser.last_name" placeholder="Last Name" required>
      <input type="email" v-model="newUser.email" placeholder="Email" required>
      <button type="submit">Add User</button>
    </form>
  </div>
</template>

<script>
import { useUserStore } from './../stores/userStore';

export default {
  setup() {
    const userStore = useUserStore();
    const users = userStore.users;
    const newUser = {
      first_name: '',
      last_name: '',
      email: '',
    };

    const addUser = () => {
      userStore.addUser(newUser);
      newUser.first_name = '';
      newUser.last_name = '';
      newUser.email = '';
    };

    return {
      users,
      newUser,
      addUser,
    };
  },
};
</script>

