<template>
  <div>
    <h2>User Registration</h2>
    <form @submit.prevent="registerUser">
      <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" v-model="user.firstName" required>
      </div>
      <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" v-model="user.lastName" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="user.email" required>
      </div>
      <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" v-model="user.phoneNumber" required>
      </div>
      <div>
        <label for="preferences">Preferences:</label>
        <input type="text" id="preferences" v-model="user.preferences">
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
</template>

<script>
import { useUserStore } from 'stores/userStore';

export default {
  name: 'UserRegistrationForm',
  data() {
    return {
      user: {
        firstName: '',
        lastName: '',
        email: '',
        phoneNumber: '',
        preferences: ''
      }
    };
  },
  methods: {
    registerUser() {
      const userStore = useUserStore();
      userStore.registerUser(this.user)
        .then(() => {
          // User registration successful
          this.clearForm();
        })
        .catch((error) => {
          console.error('Error registering user:', error);
        });
    },
    clearForm() {
      this.user = {
        firstName: '',
        lastName: '',
        email: '',
        phoneNumber: '',
        preferences: ''
      };
    }
  }
};
</script>

<style scoped>
/* Add your component styles here */
</style>

